{% extends 'base.html' %} {% load static %} {% block content %}
<div id="editor-root"></div>

<script type="importmap">
    {
        "imports": {
            "react": "https://esm.sh/react@19.0.0",
            "react-dom/client": "https://esm.sh/react-dom@19.0.0/client",
            "slate": "https://esm.sh/slate",
            "slate-react": "https://esm.sh/slate-react?deps=react@19.0.0,react-dom@19.0.0"
        }
    }
</script>

<script type="module" src="./static/js/editor.js"></script>

{% endblock %}
